<app-header title="Grid"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-sm="6" size-lg="3" *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="https://us.123rf.com/450wm/kesu87/kesu871907/kesu87190700139/127039478-hermoso-paisaje-con-amanecer-en-la-cascada-kirkjufellsfoss-y-la-monta%C3%B1a-kirkjufell-islandia-.jpg?ver=6"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          jkcebqdciclkvmoerkverkmvpoqcmdñcmdlckmnlkfvnoriuhtuytnvwkenmflncwdcñ,fvfvkrjvorjwqpkfckk
        </ion-card-content>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
